/Services/Mango.Services.ProductApi/obj/
/Services/Mango.Services.ProductApi/Properties/launchSettings.json
/Services/Mango.Services.ProductApi/appsettings.json
/Services/Mango.Services.ProductApi/appsettings.Development.json
/MangoWeb/Properties/
/MangoWeb/appsettings.json
/MangoWeb/appsettings.Development.json
/MangoWeb/wwwroot/lib/
